@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../lib/styles/loader.module.css";
@import "../lib/styles/noSuggestionsPetSliderCard.module.css";
@import "../lib/styles/notFound.module.css";
@import "swiper/css";
@import "swiper/scss/parallax";
@import "../lib/styles/petSlider.module.scss";
@import "../lib/styles/variables.module.scss";

@import "swiper/css/a11y";
@import "../lib/styles/effect-tinder.css";
@import "../lib/styles/PetSwiper.css";
@import "../lib/styles/desktopSidebar.module.scss";
@import "../lib/styles/mobileNavbar.module.scss";

body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  transition: color 1s ease-in-out, background-color 1s ease-in-out;
  @apply transition-colors duration-slow ease-smooth;

  // Overrides
  .pet-slider {
    --fashion-slider-title-font-size: 88px;
    @media (max-width: 480px) {
      --fashion-slider-title-font-size: 60px;
    }
  }
}

.ripple {
  margin-top: 5rem;
  border-radius: 100%;
  animation: ripple 3s linear infinite;
}

.ripple::before,
.ripple::after {
  border-radius: 100%;
  animation: inherit;
  animation-delay: 1s;
}

.ripple::after {
  animation-delay: 2s;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0.7rem rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 4rem rgba(255, 255, 255, 0);
  }
}

@layer components {
  /* main */
  .main-container {
    @apply flex flex-col items-center flex-1 min-h-screen px-6 pb-10 bg-light-1 pt-28 max-md:pb-32 sm:px-10;
  }

  .left-sidebar {
    @apply bg-white border border-white border-opacity-25 rounded-tr-lg rounded-br-lg bg-opacity-5 backdrop-blur-xl;
  }

  /* Head Text */
  .head-text {
    @apply text-heading2-bold text-light-1;
  }

  /* No Result */
  .no-result-text {
    @apply text-center  text-light-3;
  }
}

@layer utilities {
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 1px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #5c5c7b;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}
